body{
    max-width: 600px;
}
header {
    display: flex;
    background-color:blue;
}

h1{
    color:cornsilk;
    text-align: center;
}

img{
    max-width: 100px;
}
h2{
    border-bottom: 8px solid black;
    text-align: left;
}
footer{
    background-color: navy;
}
footer p{
        color:cornsilk;
}

ul{
    border-bottom: 8px solid black;
}


