body{
    max-width: 600px;
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color:blue;
}

h1{
    grid-column: 2/2;
    color:cornsilk;
    text-align: center;
}

img{
    grid-column: 1/1;
    max-width: 100px;
}
h2{
    border-bottom: 8px solid black;
    text-align: left;
}
footer{
    background-color: navy;
}
footer p{
        color:cornsilk;
        text-align: center;
}

ul{
    margin-bottom: 15px;
    border-bottom: 8px solid black;
}


