html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    position: relative;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #14213D;
    color: #E5E5E5;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#menu::before {
    content: "≡";
}

h1,
h2 {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 800;
}

.navigation {
    display: block;
}

.navigation li {
    /* hide the nav links on smaller screen*/
    /*justify-content: space-around;*/
    display: none;
    list-style: none;
    margin: 0;
}

.navigation a {

    font-weight: 700;
    padding: 0.75rem;
    color: #E5E5E5;
    text-decoration: none;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color: black;
    background-color: #E5E5E5;
}

.show li {
    display: block;
}

#menu.show::before {
    content: 'X';
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 3px;

}

.hamburger {
    display: block;
    cursor: pointer;
}

.cta {
    position: relative;
    /*makes the button pos. relative to the image*/
}

.cta img {
    width: 100%;
    height: 300px;
}

.cta button {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #0C7489;
    color: #E5E5E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    background-color: #0C7489;
}

.hero {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.heroname {
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid rgba(0, 0, 0, .75);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .75);
}

.heroname p::after {
    padding: 2rem;
    content: "small";
    color: black;
    font-weight: bold;
}

section {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    padding: 20px;
    margin: 10px;
    color: #14213D;
    background-color: #E5E5E5;
}

.events {
    color: black;
    padding: 20px;
    margin: 10px;
}

.weather {
    color: black;
    padding: 20px;
    margin: 10px;
}

.member-spotlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    color: black;
    padding: 20px;
}

.member-spotlight {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    color: #14213D;
    background-color: #E5E5E5;
}

.member-spotlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
}

#mode {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode header {
    color: gray;
}

.dark-mode main {
    background-color: black;
}


.dark-mode .sidebar {
    background-color: black;
}

.dark-mode .navigation a {
    color: white;
    font-size: 1.5rem;
}

.dark-mode .demographics,
.weather,
.member-spotlight,
.member-spotlights {
    background-color: gray;
    color: white;
}

.dark-mode .events {
    background-color: gray;
    color: white;
}

.dark-mode .last-visited {
    background-color: gray;
    color: white;
}

.dark-mode .calendar {
    background-color: gray;
}

.slider-round {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}


.slider-round:before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 22px;
    /* Circle size */
    height: 22px;
    background-color: #0C7489;
    border-radius: 50%;
    /* Make it a circle */
    transition: transform 0.3s ease;
    /* Smooth circle movement */
}

#mode:checked+.slider-round {
    background-color: #4CAF50;
}

#mode:checked+.slider-round:before {

    transform: translateX(30px);
    background-color: #14213D;

}

.container {
    display: flex;
    flex-direction: column;
    /* Stack the sidebar and images vertically */
    align-items: stretch;
    /* Ensure full width for each section */
    text-align: center;
}

.main-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Make images take full width on mobile */
}

figcaption {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

footer {
    display: flex;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}