html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #14213D;
    color: #E5E5E5;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#menu::before {
    content: "≡";
}

h1,
h2 {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 800;
}

.navigation {
    display: block;
}

.navigation li {
    /* hide the nav links on smaller screen*/
    /*justify-content: space-around;*/
    display: none;
    list-style: none;
    margin: 0;
}

.navigation a {

    font-weight: 700;
    padding: 0.75rem;
    color: #E5E5E5;
    text-decoration: none;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color: black;
    background-color: #E5E5E5;
}

.show li {
    display: block;
}

#menu.show::before {
    content: 'X';
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 3px;

}

.hamburger {
    display: block;
    cursor: pointer;
}

.cta {
    position: relative;
    /*makes the button pos. relative to the image*/
}

.cta img {
    width: 100%;
    height: 300px;
}

.cta button {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #0C7489;
    color: #E5E5E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    background-color: #0C7489;
}

section {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    padding: 20px;
    margin: 10px;
    color: #14213D;
    background-color: #E5E5E5;
}

.events {
    color: black;
    padding: 20px;
    margin: 10px;
}

.weather {
    color: black;
    padding: 20px;
    margin: 10px;
}

.member-spotlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    color: black;
    padding: 20px;
}

.member-spotlight {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3 ease;
    color: #14213D;
    background-color: #E5E5E5;
}

.member-spotlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
}

footer {
    display: flex;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    grid-column: 1/4;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;

}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode header {
    color: white;
}

.dark-mode main {
    background-color: black;
}

.dark-mode .navigation a {
    color: white;
    font-size: 1.5rem;
}

.dark-mode .events {
    background-color: gray;
    color: white;
}

.dark-mode .weather {
    background-color: gray;
    color: white;
}

.dark-mode .member-spotlight {
    background-color: gray;
    color: white;
}

.dark-mode .member-spotlights {
    background-color: gray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #0C7489;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {

    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}