@media (min-width: 768px) {

    .navigation {
        display: flex;
        list-style: none;
        margin: 0;
        max-width: 768px;
    }

    .navigation li {
        display: flex;
        align-items: center;
    }

    .navigation a {
        text-align: right;
        padding-right: 20px;
    }

    .heroname p::after {
        padding: 2rem;
        content: "Large";
    }


    .weather {
        grid-column: 3/4;
    }

    .member-spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        grid-column: 1/4;
    }

    #menu {
        display: none;
    }

    footer {
        grid-column: 1/5;
        display: flex;
        margin-top: auto;
        justify-content: space-between;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .sidebar {
        grid-column: 1/2;
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .main-img {
        grid-column: 2/5;
        padding: 20px;
        gap: 20px;
    }

    .main-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    figure:hover {
        transform: rotate(10deg);
    }

    figure:nth-child(odd):hover {
        transform: rotate(-10deg);
    }

}