body {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto auto;
    height: 100vh;
}

header {

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    background-color: blue;
    font-size: 18px;
    grid-column: 2/3;
}

header h1 {
    color: cornsilk;
    text-align: center;
}

nav {
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    grid-column: 2 / 3;
}

main {
    grid-column: 2 / 3;
}

header img {

    padding-right: 30px;
    max-width: 100px;
}

h2 {
    border-bottom: 4px solid black;
    text-align: center;
}

h3 {
    text-align: center;
    color: navy;
    background-color: deepskyblue;
    padding: 2rem;
}

main section.card:nth-of-type(2) {
    text-align: center;
}

main ul {
    font-family: 'Aclonica';
}

h1,
h2,
h3 {
    font-family: "Cabin", serif;
    font-style: normal;
}

.links {
    display: inline;
}

ul.weekly-assignments li div.links a {
    margin: 0 5px
        /*adds spaceing between the links*/
}

ul.weekly-assignments li div.links .separator {
    padding: 0 5px;
    /*adds spacing around the '|' separator*/
}

footer {
    background-color: navy;
    grid-column: 2 / 3;

}

footer p {
    color: cornsilk;
    text-align: center;
}

ul {
    margin-bottom: 15px;
    list-style-type: none;
}